In [1]:
from machine129 import meals
db = meals.meals()

In [2]:
# 어떤 테이블이 있지
df = db.select_query('SHOW TABLES;')
df

  Tables_in_mydb129
0              Food
1       dis_results
2           disease
3             meals
4           pred_in
5          pred_out

In [8]:
table = 'disease' # 테이블 명

df = db.select_query(f'SELECT * FROM {table};')
df

    disease_num disease_code          disease_name  bad_food
0            20       DC1_DG                    위암  0_16\r\r
1            11       DC3_DG                   대장암    10\r\r
2            17       DE1_DG                   당뇨병    16\r\r
3            18       DE2_DG                갑상선 질환    17\r\r
4            15       DF2_DG                   우울증    14\r\r
5            19       DH4_DG                   중이염    18\r\r
6             1       DI2_DG                이상지질혈증     0\r\r
7             2       DI3_DG                   뇌졸중     1\r\r
8             3       DI4_DG  심혈관질환 (심근경색증 또는 협심증)     2\r\r
9            10       DI5_DG                 심근경색증     9\r\r
10            4       DI6_DG                   협심증     3\r\r
11            8       DJ2_DG                   폐결핵     7\r\r
12            9       DJ4_DG                    천식     8\r\r
13           13       DJ6_DG                  부비동염    12\r\r
14           14       DJ8_DG                알레르기비염    13\r\r
15           12       DK8_DG                  B형간염    11\r\r
16           16       DL1_DG                아토피피부염    15\r\r
17            5       DM2_DG                  골관절염     4\r\r
18            6       DM3_DG             류마티스성 관절염     5\r\r
19            7       DM4_DG                  골다공증     6\r\r

In [4]:
import pandas as pd
ag = pd.read_csv(r'data2\data_ag.csv', index_col=0)
result, data = model_data.model(survey_data)

   TOTAL_SLP_WD  HE_BMI  HE_DBP
0          7.14    24.2    72.2

In [5]:
table_name = 'dis_results' # 입력받을 테이블 이름
# id = session.get('name')
id = '012345678'
db.insert_df(df = ag, table = table_name, id = id)

OperationalError: (1054, "Unknown column 'TOTAL_SLP_WD' in 'field list'")