In [1]:
import pymysql

In [3]:
conn = pymysql.connect(user='root', passwd='1234', host='34.64.195.167', db='mydb129', charset='utf8')

In [ ]:
cur = conn.cursor()
cur.execute("INSERT INTO Food VALUES (19, '제육볶음', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14);")
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("INSERT INTO Food VALUES (20, '시래기국', 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.10, 0.11, 0.12, 0.13, 0.14);")
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("INSERT INTO Food VALUES (21, '땅콩조림', 0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.40, 0.41, 0.42, 0.43, 0.44);")
conn.commit()